sf1/.DS_Store
sf1/node_modules
sf1/db.json
sf1/debug.log
sf1/public
sf1/.deploy
dev_swan/.DS_Store
dev_swan/node_modules
dev_swan/db.json
dev_swan/debug.log
dev_swan/public
dev_swan/.deploy
swansoft/.DS_Store
swansoft/node_modules
swansoft/db.json
swansoft/debug.log
swansoft/public
swansoft/.deploy
