<footer id="footer">
  <div class="outer">
    <div class="inner">
      &copy; 2014 <a href="http://www.swanlinux.net">Swan team</a><br>
    </div>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="<%- config.root %>js/script.js"></script>
